@using DotNetPIS.Domain.Models.SEPTA;

@model InfoBoardViewModel

@{
    foreach (var arrival in Model.Arrivals)
    {
        <tr>
            <td>
                @arrival.DepartTime
            </td>
            <td>
                @arrival.TrainId
            </td>
            <td>
                @arrival.ServiceType
            </td>
            <td>
                @arrival.Line
            </td>
            <td>
                @arrival.Destination
            </td>
            <td>
                @arrival.Status
            </td>
            <td>
                @arrival.Track  
            </td>
        </tr>
    }
}