@model StopSelectViewModel

<form id="selectForm" method="get" asp-controller="@Model.SelectController" asp-action="@Model.SelectAction" asp-route-agency="@Model.AgencyName" asp-route-stopId="@Model.StopId">
    
    <input type="hidden" name="agency" asp-for="@Model.AgencyName" value="@Model.AgencyName"/>

    <select name="stopId" id="stop-slct" asp-for="@Model.StopId" asp-items="@Model.Stops">
    </select>
    
    <button class="btn-primary" type="submit">Submit</button>
    
</form>